/* html, body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
 
} */
body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;


}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;

}

.f-info-links a {

    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    display: flex;
    height: 8rem;
    text-align: center;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-links {
    width: 100%;
}

.f-info-social,
.f-info-brands {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-social i {
    margin-right: 1rem;
}


/* cards */

.card {
    border: none !important;
    margin-bottom: 2rem;

}

.card-img-top {
    border-radius: 1rem;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

/* card effect */

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* newpage  */

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}


/* //show images */

.show-image {
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left:0;
    padding-right: 0;
}
